<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLC Cornwall - Machine Learning with Python - GROUP 7</title>
</head>
<body>
    <div>
        <div>
            <h1>About the course</h1>
            <p>During the course, we went through the whole proccess of building a Machine Learning Predictive model:
               <ul>
                <li>what are they for?</li>
                <li>how many types of them there are?</li>
                <li>What are the main differences between them?</li>
                <p>There are many websites where we can enter the world of machine learning and data science. Personally,
                We liked the <a href="https://mlbook.explained.ai/preface.html">book</a> we used during the course because
                it takes the beginner in this field through a learning process with clear explanations and in a language accessible to everyone.</p>
            </ul>  
            </p>
            <h2>Who we are? (team 7)</h2>
            <p><a href="https://www.linkedin.com/in/manuel-bishop-noriega/">Manuel Bishop Noriega</a></p>
            <p><a href="https://www.linkedin.com/in/robert-matney-a7b504251/">Robert Matney</a></p>
        </div>
        <div><a href="{{url_for('welcome')}}">Back</a></div>
    </div>
</body>
</html>