<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLC Cornwall - Machine Learning with Python - GROUP 7</title>
</head>
<body>

    <h1>Welcome to the Classifier Model Page</h1>

    <p>Fill this form and based on the input the model will predict if there's presence of heart disease.</p>
    {% block content %}
    <form action="/classifier" method="POST">
        <p>Please enter in your Age:<input type="number" id="age" name="age" placeholder="Age"></p>
        <p>Please enter in you Sex:<input type="text" id="sex" name="sex" placeholder="male/female"></p>
        <p>Please enter in your CP:<input type="text" id="cp" name="cp" placeholder="CP"></p>
        <p>Please enter in your TrestBPS:<input type="text" id="trestbps" name="trestbps" placeholder="TrestBPS"></p>
        <p>Please enter in your Chol:<input type="text" id="chol" name="chol" placeholder="Chol"></p>
        <p>Please enter in your FBS:<input type="text" id="fbs" name="fbs" placeholder="FBS"></p>
        <p>Please enter in your Restecg:<input type="text" id="restecg" name="restecg" placeholder="Restecg"></p>
        <p>Please enter in your Thalach:<input type="text" id="thalach" name="thalach" placeholder="Thalach"></p>
        <p>Please enter in your Exang:<input type="text" id="exang" name="exang" placeholder="Exang"></p>
        <p>Please enter in your Oldpeak:<input type="text" id="oldpeak" name="oldpeak" placeholder="Oldpeak"></p>
        <p>Please enter in your Slope:<input type="text" id="slope" name="slope" placeholder="Slope"></p>
        <p>Please enter in your CA:<input type="text" id="ca" name="ca" placeholder="CA"></p>
        <p>Please enter in your Thal:<input type="text" id="thal" name="thal" placeholder="Thal"></p>
        <input type="hidden" id="ca_na" name="ca_na" value="0">
        <input type="hidden" id="thal_na" name="thal_na" value="0">
        <br/>
        <input type="submit" value="data">
    </form>
    {% endblock %}
    <div>
        {%if pred[0]==0:%}
        NO HEART DISEASE PRESENT
        {%elif pred[0]==1:%}
        HEART DISEASE PRESENT
        {%else:%}
        Fill the form to make a prediction
        {%endif%}
    </div>

</body>
</html>