
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLC Cornwall - Machine Learning with Python - GROUP 7</title>
</head>
<body>

    <h1>Welcome to the Regressor Model Page</h1>

    <p>Here is as simple form for Estimation of Obesity Levels Based On Eating Habits and Phyiscal Condition</p>

    <form action='reg_answers' method="POST">
        <p>Please enter in your Age:<input type="text" id="age" name="age" placeholder="Age"></p>
        <p>Please enter in you Height(meters):<input type="text" id="height" name="height" placeholder="Height"></p>
        <p>Please enter in your Weight(kilograms):<input type="text" id="weight" name="weight" placeholder="Weight"></p>
        <p>Please enter in your FCVC(from 1.0 to 3.0):<input type="text" id="fcvc" name="fcvc" placeholder="FCVC"></p>
        <p>Please enter in your NCP(from 1.0 to 4.0):<input type="text" id="ncp" name="ncp" placeholder="NCP"></p>
        <p>Please enter in your CH20(from 1.0 to 3.0):<input type="text" id="ch20" name="ch20" placeholder="CH20"></p>
        <p>Please enter in your FAF(from 0.0 to 3.0):<input type="text" id="faf" name="faf" placeholder="FAF"></p>
        <p>Please enter in your TUE(from 0.0 to 2.0):<input type="text" id="tue" name="tue" placeholder="TUE"></p>
        <br/>
        <input type="submit" value="submit">
    </form>

</body>
</html>
