
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLC Cornwall - Machine Learning with Python - GROUP 7</title>
</head>
<body>

    <h1>Welcome to the Regressor Model Page</h1>

    <p>Here is as simple form for Estimation of Obesity Levels Based On Eating Habits and Phyiscal Condition</p>
    {% block content %}
    <form action='/regressor' method="POST">
        <p>AGE:<input type="text" id="Age" name="Age" placeholder="Age"></p>
        <p>GENDER:<input type="text" id="Gender" name="Gender" placeholder="Gender"></p>
        <p>HEIGHT(meters):<input type="text" id="Height" name="Height" placeholder="Height"></p>
        <p>Usually eat vegetables:<input type="text" id="FCVC" name="FCVC" placeholder="Weight"></p>
        <p>How many meals per day:<input type="text" id="NCP" name="NCP" placeholder="FCVC"></p>
        <p>How much water do you drink:<input type="text" id="CH2O" name="CH2O" placeholder="NCP"></p>
        <p>How often do you workout:<input type="text" id="FAF" name="FAF" placeholder="CH20"></p>
        <p>Time spent in front of screens:<input type="text" id="TUE" name="TUE" placeholder="FAF"></p>
        <p>Family member suffered or suffers from overweight?:<input type="text" id="family_history_with_overweight" name="family_history_with_overweight" placeholder="family_history_with_overweight"></p>
        <p>Hypercaloric food intake frequently?:<input type="text" id="FAVC" name="FAVC" placeholder="FAVC"></p>
        <p>Snacks between meals?:<input type="text" id="CAEC" name="CAEC" placeholder="CAEC"></p>
        <p>Do you monitor your calories everyday?:<input type="text" id="SCC" name="SCC" placeholder="SCC"></p>
        <p>How often drink alcohol:<input type="text" id="CALC" name="CALC" placeholder="CALC"></p>
        <p>Usual transportation:<input type="text" id="TUE" name="MTRANS" placeholder="MTRANS"></p>
        <input type="hidden" id="Height_na" name="Height_na" value="0">
        <br/>
        <input type="submit" value="submit">
    </form>
    <div>
        {% endblock %}
        {%if pred[0]!='':%}
            Predicted weight: {{'%0.2f'|format(pred[0]|float)}} kg.
        {%endif%}
    </div>

</body>
</html>
